<h1>New bookmark</h1>
<%= simple_form_for @bookmark, url: list_bookmarks_path(@bookmark.list) do |f| %>
  <%= f.association :list %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit %>
<% end %>
